body{
    margin:0;
    padding:0;
    font-size:13px;
    background:#212121;
    font-family: Arial;
}
#header{
    background:#4554a5;
    width:100%;
    height:50px;
    color:#fff;
    font-family: 'friday_night_lightsregular';
}
#left-header{
    width:50%;
    float:left;
}
#right-header{
    width:50%;
    float:left;
    text-align:right;
}
#navbar{
    background:#fff;
}
#navbar-container{
    margin:auto;
    padding:2px 0 0 0;
    text-align:right;
}
#navbar-container img{
    padding:0 15px 0 0;
}
#navbar2{
    background:#fff;
}
#navbar2-container{
    margin:auto;
    padding:0 0 2px 0;
    text-align:right;
}
#navbar2-container img{
    padding:0 15px 0 0;
}
#footer{
    width:100%;
}
#footer2{
    margin:auto;
    width:50%;
    padding:20px;
    text-align:right;
    color:#fff;
    font-size:14px;
    float:right;
}
#konten{
    background:#fff;
    padding:0 0 2px 0;
}
#item_product{
   position:absolute;
   z-index:1;
}
.radius{
    -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
}
.radius5kanan{
    -webkit-border-radius: 0px 5px 5px 0px;-moz-border-radius: 0px 5px 5px 0px;border-radius: 0px 5px 5px 0px;
}
.radius20{
    -webkit-border-radius: 0px 20px 20px 0px;-moz-border-radius: 0px 20px 20px 0px;border-radius: 0px 20px 20px 0px;
}
.buttonclick{
    padding:10px;
    display:inline-block;
    background:#424242;
    color:#ccc;
}
.buttonclick:hover{
    background:#4554e7;
    color:#fff;
    cursor:pointer;
}
.buttonclickB{
    padding:10px;
    display:inline-block;
    background:#4554e7;
    color:#ddd;
}
.buttonclickB:hover{
    background:#424242;
    color:#fff;
    cursor:pointer;
}
.buttonclickC{
    padding:10px;
    display:inline-block;
    background:#ea2121;
    color:#ddd;
}
.buttonclickC:hover{
    background:#424242;
    color:#fff;
    cursor:pointer;
}
.buttonclickD{
    padding:10px;
    display:inline-block;
    background:#35a744;
    color:#ddd;
}
.buttonclickD:hover{
    background:#424242;
    color:#fff;
    cursor:pointer;
}
.colpick{
    z-index:9999;
    top:50px !important;
    left:18px !important;
}
#imageUpload{
    position: absolute;
    display:none;
}
#image_Upload{
    background:#757575;
    padding:10px;
    color:#fff;
    font-size:16px;
}
#image_Upload:hover{
    background:#35a744;
    cursor:pointer;
}
#panel-container-item h2,#panel-container-text h2,#titleimagecontainer h2{
    color:#fff;
    border-bottom:1px solid #aaa;
    margin-top:0px;
    line-height:1.50;
    font-size:16px;
    width:100%;
    text-align:left;
}
#panel-container-item ul{
    list-style:none;
}
#br{
    height:20px;
}
#br2{
    height:5px;
}
#panel-container-item li{
    list-style:none;
    background:#575757;
    padding:10px;
    margin-top:5px;
    color:#eee;
    cursor:pointer;
    display:inline-block;
}
#panel-container-item li:hover{
    background:#4554e7;
    color:#fff;
    font-weight:bold;
}
#panel-container-item-properties div li{
    padding:20px;
}
#panel-container-item-pilih{
    display:none;
}
#panel-container-item-properties{
    display:none;
}
#panel-container-text input{
        width:100%;
        padding:5px;
        background:#454545;
        color:#fff;
        font-size:14px;
}
#createTextId{
    display:block;
    margin:auto;
    text-align:center;
    width:80px;
    background:#424242;
}
#createTextId:hover{
    background:#4554e7;
}
#ScreenPreviewOverlay{
    position: fixed;
    top: 0;
    left:0;
    bottom:0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 98 !important;
    display:none;
}
#fontstyleterpilih,#fontstylepilihan span{
    color:#eee;
    background:#414141;
    padding:10px;
    margin:auto;
    font-size:16px;
    display:block;
    -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
}
#fontstyleterpilih:hover{
    cursor:pointer;
    background:#4554e7;
}
#fontstylepilihan span{
    margin-top:5px;
    background:#757575;
}
#fontstylepilihan span:hover{
    cursor:pointer;
    background:#35a744;
}
#titleimagecontainer,#panel-container-item-category{
    margin:auto;
}
#titleimagecontainer span, #panel-container-item-category span{
    color:#eee;
    background:#757575;
    padding:10px;
    margin-top:5px;
    font-size:16px;
    display:block;
    -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
}
#titleimagecontainer span:hover, #panel-container-item-category span:hover{
    cursor:pointer;
    background:#35a744;
}
.image-wraps img:hover{
    cursor:pointer;
    border:1px solid #4554e7;
}
.panel-config{
    background:#454545;
}
.panel-config-close:hover{
    background:#ea2121;
    cursor:pointer;
    color:#fff;
    background:#fa2121;
}
.panel-config-close{
        position:absolute;
        padding:20px 10px 20px 10px;
        font-size:14px;
        color:#f5f5f5;
        right:-60px;
        width:40px;
        text-align:right;
        -o-transition: right 1s;
        -ms-transition:  right 1s;
        -moz-transition: right 1s;
        -webkit-transition: right 1s; /* For Safari 3.1 to 6.0 */
        transition: right 1s;
        background:#da2121;
}
/* SMALL WIDTH */
@media screen and (max-width: 480px) {
    #header{
        font-size:16px;
    }
    #header2{
        margin:auto;
        padding:16px 5px;
    }
    #konten2{
        margin:0px auto 0px auto;
        width:300px;
        background:#fff;
    }
    #navbar-container,#navbar2-container{
        width:300px;
    }
    #container{
       width:300px;
       height:285px;
       /*border:1px dotted #4554a5;*/
       background:#212121;
       background:#212121;
       color:#fff;
       text-align:center;
       float:left;
       position:relative;
       font-size:20px;
    }
    .chooseItemInPanel{
        margin-top:120px;
        width:300px;
        float:left;
    }
    #making{
       position:absolute;
       z-index:2;
       width:160px;
       height:240px;
       left:70px;
       top:40px;
    }
    #panel{
        position:absolute;
        top:62px;
        width:200px;
        height:300px;
        background:#212121;
        z-index:999;
        padding:10px;
        left:-220px;
    }
    #panel-item{
        top:20px;
    }
    #panel-container-item,#panel-container-text,#panel-container-image{
        display:none;
        height:280px;
        width:200px;
        overflow: auto;
        margin:10px auto;
    }
    #panel-text{
        top:80px;
    }
    #panel-image{
        top:140px;
    }
    #panel-container-image{
        display:none;
    }
    #panel-close{
        bottom:19px;
        display:none;
    }
    .panel-config{
        position:absolute;
        padding:20px 10px 20px 10px;
        font-size:14px;
        color:#ccc;
        right:-15px;
        width:40px;
        text-align:right;
        -o-transition: right 1s;
        -ms-transition:  right 1s;
        -moz-transition: right 1s;
        -webkit-transition: right 1s; /* For Safari 3.1 to 6.0 */
        transition: right 1s;
    }
    .panel-config:hover{
        right:-60px !important; /* kalau tidak pakai important, maka ini tidak mau berfungsi setelah ada event jquery */
        cursor:pointer;
        color:#fff;
    }
    #ScreenPreviewItem{
    width: 200px;
    position: absolute;
    top: 0; 
    right: 10px;
    margin-top: 10px;
    text-align: center;
    z-index: 99 !important; /* 1px higher than the overlay layer */
    display:none;
    }
    #wrap-close-ScreenPreviewItem{
        float:right;
        margin:0px 20px 0px 0;
        background:#212121;
        border:1px solid #eee;
        height:13px;
        width:13px;
    }
    #wrap-close-ScreenPreviewItem:hover{
        color:#fff;
        cursor:pointer;
        background:#111111;
    }
    #wrap-image-ScreenPreviewItem{
        width:180px;
        margin:auto;
        text-align:right;
    }
    #wrap-text-ScreenPreviewItem{
        background:#4554e7;
        padding:10px;
        font-size:14px;
        color:#fff;
        line-height:1.50;
        width:180px;
        margin-bottom:20px;
    }
    #wrap-input-text{
        width:185px;
        margin-left:0px;
    }
    #fontstyleterpilih,#fontstylepilihan span{
        width:180px;
        font-size:14px;
    }
}


/* MEDIUM WIDTH */
@media screen and (min-width: 480px) {
    #header{
        font-size:24px;
    }
    #header2{
        margin:auto;
        padding:14px 10px;
    }
    #konten2{
        margin:0px auto 0px auto;
        width:480px;
        background:#fff;
    }
    #navbar-container,#navbar2-container{
        width:480px;
    }
    #container{
       width:480px;
       height:450px;
       /*border:1px dotted #4554a5;*/
       background:#212121;
       color:#fff;
       text-align:center;
       float:left;
       position:relative;
       font-size:40px;
    }
    .chooseItemInPanel{
        margin-top:200px;
        width:480px;
        float:left;
    }
    #making{
       position:absolute;
       z-index:2;
       width:250px;
       height:370px;
       left:110px;
       top:70px;
    }
    #panel{
        position:absolute;
        top:80px;
        width:200px;
        height:300px;
        background:#212121;
        z-index:999;
        padding:10px;
        left:-220px;
    }
    #panel-item{
        top:20px;
    }
    #panel-container-item,#panel-container-text,#panel-container-image{
        display:none;
        height:280px;
        width:200px;
        overflow: auto;
        margin:10px auto;
    }
    #panel-text{
        top:80px;
    }
    #panel-image{
        top:140px;
    }
    #panel-container-image{
        display:none;
    }
    #panel-close{
        bottom:20px;
        display:none;
    }
    .panel-config{
        position:absolute;
        padding:20px 10px 20px 10px;
        font-size:14px;
        color:#ccc;
        right:-15px;
        width:40px;
        text-align:right;
        -o-transition: right 1s;
        -ms-transition:  right 1s;
        -moz-transition: right 1s;
        -webkit-transition: right 1s; /* For Safari 3.1 to 6.0 */
        transition: right 1s;
    }
    .panel-config:hover{
        right:-60px !important; /* kalau tidak pakai important, maka ini tidak mau berfungsi setelah ada event jquery */
        cursor:pointer;
        color:#fff;
    }
    #ScreenPreviewItem{
    width: 200px;
    position: absolute;
    top: 0; 
    right: 10px;
    margin-top: 10px;
    text-align: center;
    z-index: 99 !important; /* 1px higher than the overlay layer */
    display:none;
    }
    #wrap-close-ScreenPreviewItem{
        float:right;
        margin:0px 20px 0px 0;
        background:#212121;
        border:1px solid #eee;
        height:13px;
        width:13px;
    }
    #wrap-close-ScreenPreviewItem:hover{
        color:#fff;
        cursor:pointer;
        background:#111111;
    }
    #wrap-image-ScreenPreviewItem{
        width:180px;
        margin:auto;
        text-align:right;
    }
    #wrap-text-ScreenPreviewItem{
        background:#4554e7;
        padding:10px;
        font-size:14px;
        color:#fff;
        line-height:1.50;
        width:180px;
        margin-bottom:20px;
    }
    #wrap-input-text{
        width:185px;
        margin-left:0px;
    }
    #fontstyleterpilih,#fontstylepilihan span{
        width:180px;
        font-size:14px;
    }
}




/* LARGE WIDTH */
@media screen and (min-width: 800px) {
    #header{
        font-size:24px;
    }
    #header2{
        margin:auto;
        padding:14px 10px;
    }
    #konten2{
        margin:0px auto 0px auto;
        width:510px;
        background:#fff;
    }
    #navbar-container,#navbar2-container{
        width:510px;
    }
    #container{
       width:510px;
       height:490px;
       /*border:1px dotted #4554a5;*/
       background:#212121;
       color:#fff;
       text-align:center;
       float:left;
       position:relative;
       font-size:40px;
    }
    
    .chooseItemInPanel{
        margin-top:220px;
        width:510px;
        float:left;
    }
    #making{
       position:absolute;
       z-index:2;
       width:270px;
       height:410px;
       left:120px;
       top:70px;
    }
    #panel{
        position:absolute;
        top:70px;
        width:300px;
        height:350px;
        background:#212121;
        z-index:999;
        padding:10px;
        left:-320px;
    }
    #panel-item{
        top:20px;
    }
    #panel-container-item,#panel-container-text,#panel-container-image{
        display:none;
        height:330px;
        width:280px;
        overflow: auto;
        margin:10px auto;
        padding-right:5px;
    }
    #panel-text{
        top:80px;
    }
    #panel-image{
        top:140px;
    }
    #panel-container-image{
        display:none;
    }
    #panel-close{
        bottom:20px;
        display:none;
    }
    
    .panel-config{
        position:absolute;
        padding:20px 10px 20px 10px;
        font-size:14px;
        color:#ccc;
        right:-15px;
        width:40px;
        text-align:right;
        -o-transition: right 1s;
        -ms-transition:  right 1s;
        -moz-transition: right 1s;
        -webkit-transition: right 1s; /* For Safari 3.1 to 6.0 */
        transition: right 1s;
    }
    .panel-config:hover{
        right:-60px !important; /* kalau tidak pakai important, maka ini tidak mau berfungsi setelah ada event jquery */
        cursor:pointer;
        color:#fff;
    }
    #ScreenPreviewItem{
        width: 380px;
        position: absolute;
        top: 0; 
        left: 50%;
        margin-top: 150px;
        margin-left: -190px;
        text-align: center;
        z-index: 99 !important; /* 1px higher than the overlay layer */
        display:none;
    }
    #wrap-image-ScreenPreviewItem{
        float:left;
        width:200px;
    }
    #wrap-text-ScreenPreviewItem{
        background:#4554e7;
        padding:10px;
        font-size:14px;
        color:#fff;
        line-height:1.50;
        float:left;
        width:160px;
    }
    #wrap-input-text{
        width:200px;
        margin-left:22px;
    }
    #fontstyleterpilih,#fontstylepilihan span{
        width:200px;
    }
}


#clearer{
    clear:both;
}